.contenedorHeader{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5e42a6;;
    padding: 15px 30px 15px 30px;

}

.contenedorHeader h2{

    color: #ffff;
    font-size: 21.5px;
}

/*------------------------------------------------*/

.navi{

    display: flex;
    gap: 20px;
}

.navi Link {

    color: rgba(255, 255, 255, 0.35);
    transition: .5s ease;
}

.navi Link:hover{

    color:rgba(255, 255, 255, 0.55);

    transition: .5s ease;
}

/*-----------------RESPONSIVE---------------------*/

